* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --dk-violet: hsl(268, 75%, 9%);
    --lt-violet: hsl(268, 47%, 21%);
    --lt-violet2: hsl(281, 89%, 26%);
    --vb-violet: hsl(285, 91%, 52%);
    --vb-violet2: hsl(290, 70%, 36%);

    --vb-yellow: hsl(52, 100%, 62%);


    --pl-white: hsl(0, 0%, 100%);

    --vb-cyan: hsl(176, 100%, 44%);
    --vb-cyan2: hsl(177, 92%, 70%);

    --dk-text: hsl(198, 20%, 13%);
}

.container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgba(255, 255, 0, 1) 0%, rgba(0, 188, 212, 1) 57%, rgba(238, 130, 238, 1) 100%);
}

h1 {
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    line-height: 1.5;
}
.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    transform: scale(0.9);
}

.display-container {
    width: 80%;
    margin: 1rem 0;
    padding-top: 0.60rem;
    position: relative;
    display: flex;
    background-color: var(--dk-violet);
    border-radius: 1rem;
    border-bottom: 0.25rem solid var(--lt-violet2);
}

.password {
    outline: none;
    width: 100%;
    background-color: transparent;
    border: none;
    color: var(--vb-yellow);
    font-weight: 500;
    font-size: 1rem;
    letter-spacing: 1px;
    padding: 1rem 6rem 1.2rem 1rem;
}

.password::placeholder {
    text-transform: uppercase;
}

.copyBtn {
    position: absolute;
    top: 30%;
    right: 1.5rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: var(--pl-white);
}

.copyPass {
    position: absolute;
    background-color: var(--vb-violet2);
    color: var(--vb-yellow);
    font-size: 1rem;
    padding: 5px 10px;
    top: -35px;
    left: -25px;
    border-radius: 1rem;
    opacity: 0;
    transform: scale(0);
    transform-origin: bottom;
    transition: all 0.3s ease-in-out;
}

.copyPass.active {
    opacity: 1;
    transform: scale(1);
}

.input-container {
    display: flex;
    flex-direction: column;
    background-color: var(--dk-violet);
    border-radius: 1rem;
    width: 80%;
    padding: 3rem;
    border-bottom: 0.25rem solid var(--lt-violet2);
}

.lengthContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lengthContainer p:nth-child(1) {
    color: var(--pl-white);
    font-size: 1.2rem;
}
.lengthContainer p:nth-child(2) {
    color: var(--vb-yellow);
    font-size: 1.2rem;
}

.strengthContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.75rem;
    margin-bottom: 1.2rem;
}

.strengthContainer p:nth-child(1) {
    color: var(--pl-white);
    font-size: 1.2rem;
}

.dataIndicator {
    height: 1.1rem;
    width: 1.1rem;
    color: var(--pl-white);
    border-radius: 50%;
}

.generateBtn {
    width: 100%;
    background-color: var(--vb-violet);
    text-align: center;
    border-radius: 0.75rem;
    border-bottom: 0.25rem solid var(--vb-yellow);
    text-transform: uppercase;
    color: var(--vb-yellow);
    font-size: 0.9rem;
    font-weight: 550;
    cursor: pointer;
    padding: 0.85rem 1.2rem;
}

.checkbox {
    display: flex;
    align-items: center;
    margin-top: 1.1rem;
    gap: 0 0.6rem;
}

.checkbox input {
    appearance: none;
    width: 15px;
    height: 15px;
    border: 1px solid var(--vb-cyan);
    position: relative;
    cursor: pointer;
    border-radius: 0.2rem;
}

.checkbox input:checked {
    background-color: var(--vb-cyan);
}

.checkbox input:checked::before {
    content: '✔';
    position: absolute;
    color: var(--dk-text);
    font-size: 1rem;
    font-weight: 600;
    top: -5px;
}

.checkbox label {
    color: var(--pl-white);
    font-size: 1rem;
    letter-spacing: 0.75px;
}

.slider {
    appearance: none;
    width: 100%;
    cursor: pointer;
    background-color: var(--lt-violet);
    border-radius: 1rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    background: linear-gradient(90deg, rgba(255, 255, 0, 1) 0%, rgba(0, 212, 68, 1) 100%, rgba(238, 130, 238, 1) 100%);
    height: 0.3rem;
}

::-webkit-slider-thumb {
    appearance: none;
    width: 1.2rem;
    height: 1.2rem;
    background-color: var(--vb-yellow);
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease-in;
    box-shadow:0px 0px 10px 0px #f8fd08;
}

.slider::-webkit-slider-thumb:hover {
    transform: scale(1.2);
    outline: 1px solid black;
    background-color: var(--pl-white);
}